# .github/workflows/deploy-ec2.yml
name: Despliegue CI/CD a EC2 con Nginx

on:
  push:
    branches:
      - feature/despliegue-ec2
  workflow_dispatch:

jobs:
  pruebas-y-despliegue: 
    runs-on: ubuntu-latest 
    steps:
      - name: 1. Checkout del proyecto
        uses: actions/checkout@v5.0.0
      
      - name: 2. Configurar Node.js
        uses: actions/setup-node@v6.0.0
        with:
          node-version: '20.x'

      - name: 3. Instalar dependencias (Mocha y JSDoc)
        run: npm install 

      # --- INTEGRACIÓN CONTINUA (CI) ---
      
      # 4. Forzar Permisos de Ejecución (Mocha/JSDoc)
      - name: 4. Forzar Permisos de Ejecución
        run: |
          chmod +x ./node_modules/.bin/mocha
          chmod +x ./node_modules/.bin/jsdoc

      - name: 5. Ejecutar las pruebas con Mocha
        run: node --experimental-modules node_modules/mocha/bin/mocha test/pruebas.test.js
      
      - name: 6. Generar la documentacion (JSDoc)
        run: npx jsdoc src/js/index.js -d docs 

      # --- DESPLIEGUE CONTINUO (CD) ---
      
      # 7. Crear Directorio Remoto con Sudo (via SSH)
      - name: 7. Cargar Clave SSH en Agente
        uses: webfactory/ssh-agent@v0.9.0
        with:
          # Asegúrate de que el nombre del secreto sea correcto (KEY en este ejemplo)
          ssh-private-key: ${{ secrets.KEY }} 

      # 8. Crear Directorio Remoto y Ajustar Permisos (via SSH)
      - name: 8. Crear Directorio Remoto y Ajustar Permisos
        uses: appleboy/ssh-action@master
        with:
          host: 'ec2-98-89-41-135.compute-1.amazonaws.com' 
          username: ${{ secrets.USERNAME }}
          # ¡IMPORTANTE! NO se incluye el parámetro 'key' aquí.
          # La clave la proporciona el agente SSH cargado en el Paso 7.
          script: |
            # 1. Crear el directorio si no existe (-p)
            sudo mkdir -p /var/www/html/app-deploy
            # 2. Darle propiedad del directorio al usuario que ejecuta el deploy (para que SCP pueda escribir)
            sudo chown -R ${{ secrets.USERNAME }}:www-data /var/www/html/app-deploy 

      # 9. Subir archivos a EC2 (SCP)
      - name: 9. Subir archivos a EC2 (SCP)
        uses: appleboy/scp-action@v0.1.7
        with:
          host: 'ec2-98-89-41-135.compute-1.amazonaws.com' 
          username: ${{ secrets.USERNAME }}
          # ¡IMPORTANTE! NO se incluye el parámetro 'key' aquí.
          # La clave la proporciona el agente SSH cargado en el Paso 7.
          source: "." 
          target: "/var/www/html/app-deploy"
          overwrite: true # Asegura que los archivos se reemplacen

      # 10. Comprobación final
      - name: 10. Verificar que la aplicación está visible
        run: |
          curl -sI http://ec2-98-89-41-135.compute-1.amazonaws.com/app-deploy/index.html | grep 'HTTP/1.1 200 OK'