# .github/workflows/deploy-ec2.yml
name: Despliegue CI/CD a EC2 con Nginx

on:
  push:
    branches:
      - feature/despliegue-ec2
  workflow_dispatch:

jobs:
  pruebas-y-despliegue: 
    runs-on: ubuntu-latest 
    steps:
      - name: 1. Checkout del proyecto
        uses: actions/checkout@v5.0.0
      
      - name: 2. Configurar Node.js
        uses: actions/setup-node@v6.0.0
        with:
          node-version: '20.x'

      - name: 3. Instalar dependencias (Mocha y JSDoc)
        run: npm install 

      # --- INTEGRACIÓN CONTINUA (CI) ---
      
      # 4. Forzar Permisos de Ejecución (Mocha/JSDoc)
      - name: 4. Forzar Permisos de Ejecución
        run: |
          chmod +x ./node_modules/.bin/mocha
          chmod +x ./node_modules/.bin/jsdoc

      - name: 5. Ejecutar las pruebas con Mocha
        run: node --experimental-modules node_modules/mocha/bin/mocha test/pruebas.test.js
      
      - name: 6. Generar la documentacion (JSDoc)
        run: npx jsdoc src/js/index.js -d docs 

      # --- DESPLIEGUE CONTINUO (CD) ---
      
      # 7. Despliegue vía SSH/SCP (Copia de archivos a EC2)
      - name: 7. Iniciar SSH Agent y Cargar Clave
        uses: webfactory/ssh-agent@v0.5.4
        with:
          # Carga el secret KEY directamente al agente SSH del runner.
          # Esto resuelve el error 'can't connect without a private SSH key or password'.
          ssh-private-key: ${{ secrets.KEY }}

      - name: 8. Crear Directorio Remoto con Sudo (via SSH)
        uses: appleboy/ssh-action@master
        with:
          host: 'ec2-98-89-41-135.compute-1.amazonaws.com'
          username: ${{ secrets.USERNAME }}
          # Ya NO necesitamos pasar la clave SSH a esta acción, ¡el agente la tiene!
          script: |
            sudo mkdir -p /var/www/html/app-deploy
            sudo chown -R ${{ secrets.USERNAME }}:www-data /var/www/html/app-deploy 

      - name: 9. Subir archivos a EC2 (SCP)
        uses: appleboy/scp-action@v0.1.7
        with:
          host: 'ec2-98-89-41-135.compute-1.amazonaws.com' 
          username: ${{ secrets.USERNAME }}
          # Ya NO necesitamos pasar la clave SSH a esta acción, ¡el agente la tiene!
          source: "." 
          target: "/var/www/html/app-deploy"
          
      - name: 10. Verificar que la aplicación está visible
        run: |
          curl -sI http://ec2-98-89-41-135.compute-1.amazonaws.com/app-deploy/index.html | grep 'HTTP/1.1 200 OK'