# .github/workflows/deploy-ec2.yml
name: Despliegue CI/CD a EC2 con Nginx

on:
  push:
    branches:
      - feature/despliegue-ec2
  workflow_dispatch:

jobs:
  pruebas-y-despliegue: 
    runs-on: ubuntu-latest 
    steps:
      - name: 1. Checkout del proyecto
        uses: actions/checkout@v5.0.0
      
      - name: 2. Configurar Node.js
        uses: actions/setup-node@v6.0.0
        with:
          node-version: '20.x'

      - name: 3. Instalar dependencias (Mocha y JSDoc)
        run: npm install 

      # --- INTEGRACIN CONTINUA (CI) ---
      
      # 4. Forzar Permisos de Ejecuci贸n (Mocha/JSDoc)
      - name: 4. Forzar Permisos de Ejecuci贸n
        run: |
          chmod +x ./node_modules/.bin/mocha
          chmod +x ./node_modules/.bin/jsdoc

      - name: 5. Ejecutar las pruebas con Mocha
        run: node --experimental-modules node_modules/mocha/bin/mocha test/pruebas.test.js
      
      - name: 6. Generar la documentacion (JSDoc)
        run: npx jsdoc src/js/index.js -d docs 

      # --- DESPLIEGUE CONTINUO (CD) ---
      
      # 7. Crear Directorio Remoto con Sudo (via SSH)
      - name: 7. Crear Directorio Remoto y Ajustar Permisos (SSH)
        # Usamos una acci贸n SSH simple para ejecutar los comandos remotos.
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.USERNAME }}
          #  SOLUCIN DE AUTENTICACIN: Pasamos la clave directamente
          key: ${{ secrets.KEY }} 
          # Comando para crear el directorio y dar permisos
          script: |
            # 1. Crear el directorio si no existe (-p)
            sudo mkdir -p /var/www/html/app-deploy 
            # 2. Darle propiedad del directorio al usuario que ejecuta el deploy para que SCP pueda escribir
            sudo chown -R ${{ secrets.USERNAME }}:www-data /var/www/html/app-deploy

      - name: 8. Subir Archivos a EC2 (SCP)
        # Usamos la acci贸n SCP para la transferencia de archivos.
        uses: appleboy/scp-action@v0.1.13 # Versi贸n actualizada para mayor estabilidad
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          
          source: "." 
          target: "/var/www/html/app-deploy"
          overwrite: true 
          command_timeout: 10m

      - name: 9. Verificar que la aplicaci贸n est谩 visible
        # Se usa el host y la ruta final para comprobar que el servidor Nginx responde con 200 OK
        run: |
          echo "Verificando host: ${{ secrets.EC2_HOST }}"
          curl -sI http://${{ secrets.EC2_HOST }}/app-deploy/index.html | grep 'HTTP/1.1 200 OK'
